// Main colors
$dark-background: #000;
$light-font: #fff;
$faint-font: #878786;

// Special textures
$background-texture: url(../images/backgrounds/blackboard.jpeg);
$chalk-border: url(../images/backgrounds/chalk.png) 40 40 round;

// Typography
$chalk-font: 'Cabin Sketch';
$plain-font: Tahoma, sans-serif;

// Hovers
$border-active: #fff;
$border-inactive: #000;

